body{
    margin: 0;
}
.menu {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

/* 0.0.0.1  p*/
.tag_product2 > p {
    font-style: italic;
}

/* 0.1.0.0 ID  */

#title_product2{
    color: blue;
    font-weight: bolder;
}


.tag_product {
    background-color: yellowgreen;
}

/* !important*/ 
li{
    background-color: aqua;
    font-family:Georgia, 'Times New Roman', Times, serif !important;
    font-style: italic !important;
    list-style: none;
}

